<h1>Editing shipment</h1>

<%= error_messages_for :shipment %>

<% form_for(@shipment) do |f| %>
  <p>
    <b>Tracking number</b><br />
    <%= f.text_field :tracking_number %>
  </p>

  <p>
    <b>Carrier</b><br />
    <%= f.text_field :carrier %>
  </p>

  <p>
    <b>Service</b><br />
    <%= f.text_field :service %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @shipment %> |
<%= link_to 'Back', shipments_path %>
