.select_two_container
  .select_multiple_container
    .select_multiple_header{:id => "#{rel_name}_options_toggle" } Select Multiple #{rel_name.capitalize.pluralize}
    %div{:style => "max-height:200px;overflow:auto;display:none;", :id => "#{rel_name}_options"}
      %table.select_multiple_table{:cellpadding => "0", :cellspacing => "0", :width => "100%"}
        - selections.each do |selection|
          %tr{:class => cycle("even", "odd")}
            %td.name= selection[:name]
            %td.select_multiple_checkbox
              %input{:type => "checkbox", :value => selection[:id]}
  = select_tag(:orders, options_for_select([[""]]), {:id => "#{rel_name}_value", :style => "display:none;"})
= javascript_dom_loaded("setup_multiple_selection({value_id: '#{rel_name}_value', options_id: '#{rel_name}_options'});")
