<h1>New order_item</h1>

<%= error_messages_for :order_item %>

<% form_for(@order_item) do |f| %>
  <p>
    <b>Order</b><br />
    <%= f.text_field :order_id %>
  </p>

  <p>
    <b>Title</b><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <b>Price cents</b><br />
    <%= f.text_field :price_cents %>
  </p>

  <p>
    <b>Image url</b><br />
    <%= f.text_field :image_url %>
  </p>

  <p>
    <b>Seller zip code</b><br />
    <%= f.text_field :seller_zip_code %>
  </p>

  <p>
    <b>Seller country</b><br />
    <%= f.text_field :seller_country %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', order_items_path %>
