<h1>Editing order_item_tracking_number</h1>

<%= error_messages_for :order_item_tracking_number %>

<% form_for(@order_item_tracking_number) do |f| %>
  <p>
    <b>Tracking number</b><br />
    <%= f.text_field :tracking_number %>
  </p>

  <p>
    <b>Carrier</b><br />
    <%= f.text_field :carrier %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @order_item_tracking_number %> |
<%= link_to 'Back', order_item_tracking_numbers_path %>
