<h1>Listing order_item_tracking_numbers</h1>

<table>
  <tr>
    <th>Tracking number</th>
    <th>Carrier</th>
  </tr>

<% for order_item_tracking_number in @order_item_tracking_numbers %>
  <tr>
    <td><%=h order_item_tracking_number.tracking_number %></td>
    <td><%=h order_item_tracking_number.carrier %></td>
    <td><%= link_to 'Show', order_item_tracking_number %></td>
    <td><%= link_to 'Edit', edit_order_item_tracking_number_path(order_item_tracking_number) %></td>
    <td><%= link_to 'Destroy', order_item_tracking_number, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New order_item_tracking_number', new_order_item_tracking_number_path %>
