%fieldset
  %h1 Interactive Map
  .filter{:style => "left:20px;position:absolute;"}
    = render :partial => "multiple_select", :locals => { :selections => Order.all(:order => "id DESC").map{|o| { :name => o.number, :id => o.order_item_ids.join(",") }}, :rel_name => "order" }
  .filter{:style => "left:370px;position:absolute;"}
    = render :partial => "multiple_select", :locals => { :selections => OrderItem.grouped_by_status_for_select, :rel_name => "status" }
  .filter{:style => "left:720px;position:absolute;"}
    = render :partial => "multiple_select", :locals => { :selections => Shipment.all.map{|s| {:name => "#{s.tracking_number} (#{s.carrier})", :id => s.order_item_ids.join(",")}}.select{|s| !s[:id].blank?}, :rel_name => "shipment" }
  %br
  %br
  #map_canvas{:style => "height:350px;width:1100px;"}

  -#%iframe{:frameborder => "0", :height => "350", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=3415+W+Howard+St,+Skokie,+IL+60076&aq=0&oq=3415+howard+st,+&sll=41.891881,-87.624121&sspn=0.008881,0.021007&ie=UTF8&hq=&hnear=3415+W+Howard+St,+Skokie,+Illinois+60076&ll=42.018975,-87.714964&spn=0.008863,0.021007&t=m&z=2&iwloc=A&output=embed", :width => "1100", :id => "map"}

%fieldset
  %legend Items
  #items

#database{:style => "display:none"}
  -OrderItem.all.each do |item|
    %div{"data-image_url" => item.image_url, "data-title" => truncate(item.title), "id" => "data_set_item_#{item.id}"}
= javascript_dom_loaded("item_list = new ItemList('items', 'database')")
= javascript_dom_loaded("Droppables.add('map_canvas', {onDrop: add_to_map});")

