%fieldset
  %h1 Interactive Map
  #map_canvas{:style => "height:350px;width:1100px;"}

-javascript_tag do
  -# ARRAY OF ORDER ITEMS, FOR EACH ORDER ITEM HAVE GEOPATH
  = "var order_item_infos = #{@order_item_infos.to_json}"
  = "var br_office_infos = #{@br_office_infos.to_json}"
  = "var shipments = #{@shipments.to_json(:include => [{:shipment_tracking_logs => :geo_location}, :order_items])};"
  = "var status_names = #{@status_names.to_json};"
